[submodule "resources/assets/factorization/lang"]
	path = resources/assets/factorization/lang
	url = git@github.com:ModdingMinecraft/FactorizationLocalizations.git
[submodule "src/main/resources/assets/factorization/lang"]
	path = src/main/resources/assets/factorization/lang
	url = git@github.com:ModdingMinecraft/FactorizationLocalizations.git
[submodule "apis/railcraft"]
	path = apis/railcraft
	url = git@github.com:ModdingMinecraft/Railcraft-API.git
[submodule "src/main/java/codechicken"]
	path = src/main/java/codechicken
	url = git@github.com:ModdingMinecraft/CodeChickenLib.git
